---
layout: main
description: Springlie's personal blog
keywords: springlie
title: hehehou
background-image: http://i.imgur.com/0eQ5v.jpg
---
<div id="divBanner">
    ☆﻿ keep silent and<br />
    <span style="font-size: 48px">
        「hehehou」
    </span><br />
    <span style="font-size: 32px">
        so few years
    </span><br />
	we live<br />
    <br /><br />
</div>

<div id="divSeparator1"></div>
<div id="divSeparator2"></div>

<div id="divMiddle">
    <div class="divCategory">
        <h1 class="hTitle1">Blogs</h1>
        <hr />
        {% include Blogs.html %}
    </div>
    <div class="divCategory">
        <h1 class="hTitle1">Posts</h1>
        <hr />
        {% include Posts.html %}
    </div>
    <div class="divCategory" style="margin-bottom:100px;">
        <h1 class="hTitle2">Contact me</h1>
        <hr />
        {% include ContactMe.html %}
    </div>
</div>
<div id="divRight">
    <div class="divCategory">
        <h1 class="hTitle1">Projects</h1>
        <div class="divExtLinks">
            <a href="https://github.com/springlie" target="_blank"><img src="/images/github.png" alt="github" title="GitHub" class="navDock" height="24" /></a>
		</div>
        <hr />
        {% include Projects.html %}
    </div>
<!-- 
    <div class="divCategory" style="visibility:hidden">
        <h1 class="hTitle2">About me</h1>
        <hr />
        include AboutMe.html
    </div>
    <div class="divCategory" style="visibility:hidden">
        <h1 class="hTitle2">Links</h1>
        <hr />
        include Links.html
    </div>
-->
    <div id="div0"></div>
</div>
